.goods {
  &__title {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 25px;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      padding-bottom: 16px;
      font-size: 24px;
    }

    @include mobile {
      padding-bottom: 9px;
      font-size: 18px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: space-evenly;
    gap: 40px 20px;
    padding-top: 40px;
    margin-bottom: 40px;

    @include tablet {
      grid-template-columns: repeat(auto-fill, 140px);
      row-gap: 24px;
      padding-top: 24px;
      margin-bottom: 30px;
    }

    @include mobile {
      grid-template-columns: repeat(auto-fill, 140px);
      gap: 16px 10px;
      padding-top: 16px;
      margin-bottom: 16px;
    }
  }
}